body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #524e4e;
}

.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: aliceblue;
  padding: 30px;
}

.display{
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: black;
  margin-bottom: 25px;
}

.controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}

.start-button{
  background-color: rgb(10, 193, 62);
}
.start-button:hover{
  background-color: rgb(6, 115, 37);
}
.stop-button{
  background-color: rgb(193, 41, 10);
}
.stop-button:hover{
  background-color: rgb(115, 22, 6);
}
.reset-button{
  background-color: rgb(28, 10, 193);
}
.reset-button:hover{
  background-color: rgb(14, 1, 87);
}